<div class="container">
    <h4 > Hello, {{user.name}}! Lets do some things now.</h4>

    <div class="row">
        <div class="col s1 m4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Brand</span>
                    <p><i>Choose one of the options bellow.</i></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit.</p>
                    <p>Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus.</p>
                </div>
                <div class="card-action">
                    <a href="#/brand"><i class="fa fa-plus-square fa-2x"></i></a>
                    <a href="#/listbrands"<i class="fa fa-list-ol fa-2x"></a>
                </div>
            </div>
        </div>

        <div class="col s1 m4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Model</span>
                    <p><i>Choose one of the options bellow.</i></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit.</p>
                    <p>Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus.</p>
                </div>
                <div class="card-action">
                    <a href="#/model"><i class="fa fa-plus-square-o fa-2x"></i></a>
                    <a href="#/listmodels"><i class="fa fa-list-ul fa-2x"></i></a>
                </div>
            </div>
        </div>

        <div class="col s1 m4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Car</span>
                    <p><i>Choose one of the options bellow.</i></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit.</p>
                    <p>Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus.</p>
                </div>
                <div class="card-action">
                    <a href="#/car"><i class="fa fa-plus-square fa-2x"></i></a>
                    <a href="#/listcars"><i class="fa fa-th-list fa-2x"></i></a>
                </div>
            </div>
        </div>

    </div>
</div>